### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Julie Baker
# Heroes of Pymoli
# June 2021

In [145]:
# Dependencies and Setup --> need to make sure it's on my 3.8.5 to get to work right now
import pandas as pd
import os
import csv

# File to Load (Remember to Change These)
file_to_load = os.path.join(os.getcwd(), "Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [156]:
# just looking at data
purchase_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [147]:
# SN unique (used info from sharpsightlabs.com & geeksforgeeks.org)
user_count = len(purchase_df.SN.unique())
print(user_count)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [153]:
# Renaming columns to remove spaces (based on pandas.pydata.org); attempts to reindex failed, so need to circumvent the spaces in the index values because they are preventing me from getting further calculations below.
purchase_df.rename(columns={'Purchase ID':'PurchaseID', 'Item ID' : 'ItemID', 'Item Name' : 'ItemName'})
#new_columns = ['PurchaseID', 'SN', 'Age', 'Gender', 'ItemID', 'ItemName', 'Price']
#purchase_update = purchase_df.rename(columns = [new_columns])
#purchase_id = "Purchase ID"
#item_id = "Item ID"
#item_name = "Item Name"
# Reset the index for this DataFrame so "Assignee" is a column
#update_purchase_df = purchase_df.reset_index()
#update_purchase_df.head()

,PurchaseID,SN,Age,Gender,ItemID,ItemName,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [149]:
#new_columns = ['PurchaseID', 'SN', 'Age', 'Gender', 'ItemID', 'ItemName', 'Price']
#purchase_update = purchase_df.rename(columns = [new_columns])
#purchase_id = "Purchase ID"
#item_id = "Item ID"
#item_name = "Item Name"
# Reset the index for this DataFrame so "Assignee" is a column
update_purchase_df = purchase_df.reset_index()
update_purchase_df.head()

,index,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,4,Iskosia90,23,Male,131,Fury,1.44

In [133]:
# unique items
# THE PROBLEM IS THE COLUMN INDEXES ARE NOT CHANGING DESPITE THEIR "NAMES" BEING CHANGED
item_count = len(purchase_df.Item_ID.unique())
print(item_count)

AttributeError: 'DataFrame' object has no attribute 'Item_ID'

In [162]:
# average purchase price
avg_purchase = purchase_df.Price.mean()
print(avg_purchase)

3.050987179487176

In [165]:
# total number of purchases
total_purchases = len(purchase_df.index)
print(total_purchases)

780

In [166]:
# total revenue
total_rev = purchase_df.Price.sum()
print(total_rev)

2379.77

In [ ]:
# summary dataframe of results; # opt: clean up formatting
user_count
# Purchasing Analysis (Total)
item_count
avg_purchase
total_purchases
total_rev

In [ ]:
# display summary dataframe

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame