### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Julie Baker
# Heroes of Pymoli
# June 2021

In [4]:
# Dependencies and Setup --> need to make sure it's on my 3.8.5 to get to work right now
import pandas as pd
import os
import csv

# File to Load (Remember to Change These)
file_to_load = os.path.join(os.getcwd(), "Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [5]:
# just looking at data
purchase_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [6]:
# SN unique
user_count = len(purchase_df['SN'].unique())
print(f"Player count = {user_count}")

Player count = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
## WORK ON FORMATTING IF TIME LATER ##
# ===================================
# unique items
item_count = purchase_df["Item ID"].nunique()
# average purchase price
avg_purchase = purchase_df.Price.mean()
#avg_purchase['Average Price'] = avg_purchase['Average Price'].map("${:,.2}".format)
# total number of purchases
total_purchases = len(purchase_df['Purchase ID'])
# total revenue
total_rev = purchase_df.Price.sum()

purchase_analysis_df = pd.DataFrame(data = [[user_count, item_count, avg_purchase, total_purchases, total_rev]], columns=["Unique Users", "Unique Items", "Average Price", "Total Purchases", "Total Revenue"])

#pd.options.display.float_format = '${:, .2f}'.format

purchase_analysis_df

   Unique Users  Unique Items  Average Price  Total Purchases  Total Revenue
0           576           179       3.050987              780        2379.77

In [8]:
# Renaming columns to remove spaces 
update_purchase_df = purchase_df.rename(columns={'Purchase ID':'PurchaseID', 'Item ID' : 'ItemID', 'Item Name' : 'ItemName'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# creating dataframes to compile gender information

In [10]:
# gender count
gender_fixed_df = update_purchase_df.groupby(['Gender'])['SN'].nunique()

In [11]:
#  purchase count by gender
gender_purch_df = update_purchase_df.groupby(['Gender'])['SN'].count()

In [12]:
# first set of gender merges -- gender count & purchase count by gender
gender_compiling_df = pd.merge(gender_fixed_df, gender_purch_df, on='Gender')

In [13]:
# renaming current columns before merging more
gender_compiling_df = gender_compiling_df.rename(columns={'SN_x': 'Player Count', 'SN_y': 'Purchase Count'})

In [14]:
# calculating percentage of each gender
gender_percent_df = gender_compiling_df['Percentage of Players'] = (gender_compiling_df['Player Count'] / user_count)*100

In [15]:
# ** GENDER DEMOGRAPHICS TABLE
gender_demographics_df = pd.merge(gender_fixed_df, gender_percent_df, on='Gender')
gender_demographics_df = gender_demographics_df.rename(columns={'SN':'Player Count', 'Player Count':'Percent of Players'})
gender_demographics_df

                       Player Count  Percent of Players
Gender
Female                           81           14.062500
Male                            484           84.027778
Other / Non-Disclosed            11            1.909722

In [16]:
# Next... building Purchasing Analysis (Gender)

In [17]:
# average purchase price by gender
gender_price_df = update_purchase_df.groupby(['Gender'])['Price'].mean()

In [18]:
# total purchase value by gender
gender_value_df = update_purchase_df.groupby(['Gender'])['Price'].sum()

In [19]:
# first round of data merges
gender_compile_df2 = pd.merge(gender_compiling_df, gender_price_df, on='Gender')

In [20]:
gender_compile_df3 = pd.merge(gender_compile_df2, gender_value_df, on='Gender')

In [21]:
# rename columns
gender_compile_df3 = gender_compile_df3.rename(columns={'Price_x':'Average Purchase Price','Price_y':'Total Purchase Value'})

In [22]:
# calculate average purchase by person
gender_compile_df3['Average Purchase Total per Person'] = (gender_compile_df3['Total Purchase Value'] /gender_compile_df3['Player Count'])

In [23]:
# ** PURCHASING ANALYSIS (GENDER) **
gender_results_df = gender_compile_df3.drop(columns=['Player Count','Percentage of Players'])
gender_results_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [40]:
# esatblish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
age_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [41]:
# use pd.cut() to categorize players using age bins
age_df = update_purchase_df
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=age_labels, include_lowest=False)

In [42]:
# age demographics; counts members for each age group & drops duplicates based on 'SN'
age_counts_df2 = age_df.groupby('Age Group')['SN'].nunique()

In [43]:
# AGE ANALYSIS NEEDS:  group count, percent of players
# I couldn't get it to add my calculated column to the df above, so I created this one & merged them. AND THEN...it was totally fine with me adding a calculated column.
age_counts_df3 = age_df.groupby('Age Group')['SN'].nunique()
age_demos_df = pd.merge(age_counts_df2, age_counts_df3, on='Age Group')
age_demos_df

           SN_x  SN_y
Age Group
< 10         17    17
10-14        22    22
15-19       107   107
20-24       258   258
25-29        77    77
30-34        52    52
35-39        31    31
40+          12    12

In [44]:
# calculate percentage of players by age
age_demos_df['Percentage of Players'] = (age_demos_df['SN_x'] / user_count)*100

In [45]:
# renaming the columns I want to keep then dropping the column I don't need
age_demos_df = age_demos_df.rename(columns={'SN_x': 'Player Count', 'Percentage of Players': 'Percentage of Players'})
age_demos_df = age_demos_df.drop(columns='SN_y')

In [46]:
## Building purchase analysis next

In [47]:
# purchase count
purchase_byAge_df = age_df.groupby('Age Group')['SN'].count()

In [48]:
# total purchase value
total_byAge_df = age_df.groupby('Age Group')['Price'].sum()

In [50]:
# avg purchase price
avg_byAge_df = age_df.groupby('Age Group')['Price'].mean()

In [51]:
# creating compiled df for results
age_results_df = pd.merge(purchase_byAge_df, avg_byAge_df, on='Age Group')
age_results_df = pd.merge(age_results_df, total_byAge_df, on='Age Group')
age_results_df = age_results_df.rename(columns={'SN': 'Purchase Count', 'Price_x': 'Average Purchase', 'Price_y':'Total Purchase Value'})

In [52]:
# adding the calculated column for average purchase total per person
age_results_df['Average Total per Person'] = (age_results_df['Total Purchase Value'] / age_demos_df['Player Count'])

In [53]:
# ** PURCHASING ANALYSIS BY AGE **
age_results_df

,Purchase Count,Average Purchase,Total Purchase Value,Average Total per Person
Age Group,,,,
< 10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
# Find Top 5 Spenders by total purchase value

# creating df for finding Top 5 Spenders
top_spenders_df = update_purchase_df[['SN','Price']]
top_spenders_df = top_spenders_df.groupby('SN')

In [65]:
# ** Total Spent **
# This new df contains the sum of the prices for each player
spend_compare_df = top_spenders_df.sum()

In [66]:
# This df saves the top 5 SPENDERS by sorting price as descending.
top5_spend_df = spend_compare_df.sort_values(['Price'],ascending=False).head(5)

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10

In [67]:
## ** Number of Purchases **
# This df contains the number of transactions for each player
purchase_counts_df = top_spenders_df.count()

               Price
SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
...              ...
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3

[576 rows x 1 columns]

In [68]:
# Join top 5 spenders to their purchase counts via inner join
top5_hold_df = pd.merge(top5_spend_df, purchase_counts_df, on='SN')

             Price_x  Price_y
SN
Lisosia93      18.96        5
Idastidru52    15.45        4
Chamjask73     13.83        3
Iral74         13.62        4
Iskadarya95    13.10        3

In [69]:
# Renaming columns
top5_hold_df2 = top5_hold_df.rename(columns={'Price_x': 'Total Purchase Value', 'Price_y': 'Purchase Count'})

             Total Purchase Value  Purchase Count
SN
Lisosia93                   18.96               5
Idastidru52                 15.45               4
Chamjask73                  13.83               3
Iral74                      13.62               4
Iskadarya95                 13.10               3

In [70]:
# create a new column with calculated avg price per transaction
top5_hold_df2['Average Purchase Price'] = (top5_hold_df2['Total Purchase Value'] / top5_hold_df2['Purchase Count'])

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Lisosia93                   18.96               5                3.792000
Idastidru52                 15.45               4                3.862500
Chamjask73                  13.83               3                4.610000
Iral74                      13.62               4                3.405000
Iskadarya95                 13.10               3                4.366667

In [73]:
# Table should have: SN, purchase count, average purchase price, total purchase value
# Reordering the columns
top5_final_df = top5_hold_df2[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']].head(5)

In [72]:
## TOP SPENDERS ##
top5_final_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [76]:
# create df for items
item_df = update_purchase_df[['ItemID', 'ItemName', 'Price']]
item_df = item_df.groupby(['ItemID', 'ItemName'])

     ItemID                                   ItemName  Price
0       108  Extraction, Quickblade Of Trembling Hands   3.53
1       143                          Frenzied Scimitar   1.56
2        92                               Final Critic   4.88
3       100                                Blindscythe   3.27
4       131                                       Fury   1.44
..      ...                                        ...    ...
764     113                          Solitude's Reaver   4.07
765     130                                      Alpha   2.07
766      58          Freak's Bite, Favor of Holy Might   4.14
777      67      Celeste, Incarnation of the Corrupted   3.46
779      50                                       Dawn   4.60

[690 rows x 3 columns]

In [77]:
# purchase count sorted descending
item_counts_df = item_df.count()
item_counts_df = item_counts_df.sort_values(['Price'],ascending=False)

                                                     Price
ItemID ItemName
92     Final Critic                                     13
178    Oathbreaker, Last Hope of the Breaking Storm     12
145    Fiery Glass Crusader                              9
132    Persuasion                                        9
108    Extraction, Quickblade Of Trembling Hands         9

In [79]:
# average item price
item_avg_df = item_df.mean()

                            Price
ItemID ItemName
0      Splinter            1.2800
1      Crucifer            2.9425
2      Verdict             2.4800
3      Phantomlight        2.4900
4      Bloodlord's Fetish  1.7000

In [80]:
# total purchase value
item_values_df = item_df.sum()

                           Price
ItemID ItemName
0      Splinter             5.12
1      Crucifer            11.77
2      Verdict             14.88
3      Phantomlight        14.94
4      Bloodlord's Fetish   8.50

In [81]:
# merge counts to avg; outer merge to be sure nothing gets dropped
item_hold_df = pd.merge(item_counts_df, item_avg_df, on=['ItemID', 'ItemName'],how='outer')

                                                     Price_x   Price_y
ItemID ItemName
92     Final Critic                                       13  4.614615
178    Oathbreaker, Last Hope of the Breaking Storm       12  4.230000
145    Fiery Glass Crusader                                9  4.580000
132    Persuasion                                          9  3.221111
108    Extraction, Quickblade Of Trembling Hands           9  3.530000

In [82]:
# merge total values to others
item_hold2_df = pd.merge(item_hold_df, item_values_df, on=['ItemID', 'ItemName'],how='outer')

                                                     Price_x   Price_y  Price
ItemID ItemName
92     Final Critic                                       13  4.614615  59.99
178    Oathbreaker, Last Hope of the Breaking Storm       12  4.230000  50.76
145    Fiery Glass Crusader                                9  4.580000  41.22
132    Persuasion                                          9  3.221111  28.99
108    Extraction, Quickblade Of Trembling Hands           9  3.530000  31.77

In [85]:
# rename columns
item_analysis_df = item_hold2_df.rename(columns={'Price_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price': 'Total Purchase Value'})

In [84]:
# Only need the top 5 items, because we sorted descending, we can use .head(5) to keep the top 5. If we wanted a top 10, we could do that as well.
top5_items_df = item_analysis_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
ItemID,ItemName,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [86]:
# MOST POPULAR ITEMS TABLE
top5_items_df

,,Purchase Count,Item Price,Total Purchase Value
ItemID,ItemName,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [87]:
# Resorting item_analysis_df by purchase value rather than item count
item_profit_df = item_analysis_df.sort_values(['Total Purchase Value'],ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
ItemID,ItemName,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
126,Exiled Mithril Longsword,1,2.000000,2.00
125,Whistling Mithril Warblade,2,1.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75

In [88]:
# just keep the top 5 values
top5_profit_df = item_profit_df.head(5)

In [89]:
# Table for Most Profitable Items
top5_profit_df

,,Purchase Count,Item Price,Total Purchase Value
ItemID,ItemName,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80